  <!--[if lte IE 9]>
  <div class="h-browserhappy alert alert-danger alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
      <h6><strong>Vous utilisez un navigateur obsolète</strong><br>Merci de faire <a href="https://browsehappy.com/?locale=fr_FR" class="alert-link"> la mise à niveau</a> de votre navigateur pour améliorer votre expérience.</h6>
  </div>
  <![endif]-->
