<footer class="c-footer" role="contentinfo">
  <section class="c-footer__container container">
    <div class="c-footer__row row">
      <p class="col-12">&copy; Company {{ "now" | date("Y") }}</p>
    </div>
  </section>
</footer>
