<header class="c-header" role="banner">
  <section class="c-header__container container">
    <div class="clearfix">
      <nav>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <a class="nav-link {% if current_menu_item is defined and current_menu_item == 'home' %}active{% endif %}" href="{{ path('home') }}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Concours</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">en Html</a>
              <a class="dropdown-item" href="#">en Vue.js</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if current_menu_item is defined and current_menu_item == 'contact' %}active{% endif %}" href="{{ path('contact') }}">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if current_menu_item is defined and current_menu_item == 'admin' %}active{% endif %}" href="{{ path('admin') }}">Admin</a>
          </li>
        </ul>
      </nav>
      <h3>Sfff4</h3>
    </div>
  </section>
</header>
