{% extends '/layouts/base.html.twig' %}

{% block title %} {{ controller_name }} - {{ parent() }} {% endblock %}

{% block main %}
  <main class="c-main" role="main">

    <section class="c-main__container container">

      <div class="c-main__row row">
        <div class="c-main__col col">
          <h1>{{ controller_name }}</h1>
          <ul>
            <li><a href="{{ path('admin.players.index') }}">Players</a></li>
          </ul>
        </div>
      </div>

    </section>

  </main>
{% endblock %}
